/* styles */

body {
  background: linear-gradient(rgb(99, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
div {
  margin: -2px;
  vertical-align: top;
  /* height: fit-content; */
}

.pacman {
  width: 50px;
  height: 50px;
  background-image: url("pacman.png");
  display: inline-block;
}
.wall {
  width: 50px;
  height: 50px;
  background-image: url("wall.png");
  display: inline-block;
}
.coin {
  width: 50px;
  height: 50px;
  background-image: url("coin.png");
  display: inline-block;
}
.ground {
  width: 50px;
  height: 50px;
  background-image: url("bg.png");
  display: inline-block;
}
h1 {
  margin-left: 20px;
  text-align: left;
  font-family: comic "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: rgb(254, 255, 253);
  display: inline-block;
}
#score {
  text-align: right;
  margin-left: 300px;
  color: rgb(255, 95, 95);
}
.box {
  border: none;
  height: 89px;
  border-style: none;
  border-radius: 7% 7% 7% 7%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.265) 20%,
    rgba(0, 0, 0, 0.36) 100%
  );
  width: 780px;
}
